<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome/font-awesome.min.css">
  <script type="text/javascript" src="/js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <style type="text/css">

    #main-content
    {
      margin-top: 100px;
    }
  </style>
  <script type="text/javascript">
      var persona = new function($)
      {
          // @param string url absolute
          this.modal = function(url)
          {
              $.get({url: url}).done(function(html)
              {
                  $('#wrapper-modal').html(html).modal('show');
              });
          };
      }(jQuery);

  </script>
  <!-- view-based scripts -->
  {#<?php if($view->has('script')):?>#}
  {#<?php echo $view->get('script')->__invoke();?>#}
  {#<?php endif;?>#}
  <style type="text/css">
    body
    {
      font-family: Georgia;
    }

    .header
    {
      padding: 10px;
      text-align: right;
    }

    .main-content-title
    {
      font-size: 35px;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class='container' id='header'>
  <div class='header'>
    <strong class='pull-left'>Welcome back, {{ context.user.name }}!</strong>
    <a href="{{ url.route('@web.get-index') }}"><span class='fa fa-angle-left'></span> Web</a> |
    <a href="{{ url.route('@admin.articles.get-list') }}"><span class='fa fa-list'></span> Blog</a> |
    <a href="{{ url.route('@admin.projects.get-index') }}"><span class='fa fa-send-o'></span> Projects</a> |
    <a href="{{ url.route('@admin.user.get') }}"><span class='fa fa-user'></span> Profile</a> |
    <a href="{{ url.route('@admin.settings.get-index') }}"><span class='fa fa-gear'></span> Settings</a> |
    <a href="{{ url.route('@admin.auth.logout') }}"><span class='fa fa-power-off'></span> Logout</a>
  </div>
</div>
<div class='container' id='main-content'>
  <h1 class='main-content-title'>{{ title }}</h1>
  {% if context.flash.has('message') %}
  <div class='alert bg-success'>{{ context.flash.get('message') }}</div>
  {% endif %}
  {% if context.flash.has('errors') %}
  <ul>
    {% for error in context.flash.get('errors') %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% block content %}{% endblock %}
</div>
<div id='wrapper-modal' class="modal fade" role="dialog"></div>
</body>
</html>